@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KCCHyerim-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/KCCHyerim-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

/* index */
.newMenu h2,.bestMenu h2,.instagram h2{
  font-family: NanumSquareRound;
}

/* event */
.eventBanner .eventBtn{
  font-family: NanumSquareRound;
}
/* event-popUP-coupon */
.coupon ul li:nth-child(1),
.coupon ul li:nth-child(2){
  font-family: NanumSquareRound;
}
/* login-popUp */
.loginBox .top li:nth-child(2){
  font-family: NanumSquareRound;
}
/* 회원가입 완료 팝업 */
.ok ul li:nth-child(2){
  font-family: NanumSquareRound;
}
